@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  color: #14746f;
  background-color: #222;
}

.scores-listing li:nth-child(even) {
  background-color: #fff;
}

.btn {
  background: #fff;
  color: #14746f;
  box-shadow: 2px 2px 2px #14746f;
  transition: 0.5s;
}
